In [1]:
import pandas as pd
import numpy as np

In [15]:
# control display maximum rows

pd.options.display.max_rows=10

In [16]:
df = pd.read_csv('Day029_data.csv')
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
..       ...           ...    ...       ...       ...
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

[32 rows x 5 columns]

In [22]:
x=df['Calories'].sort_values()
x
# df.Calories.sort_values()

8     195.1
16    215.2
27    241.0
31    243.0
20    243.0
      ...
4     406.0
0     409.1
1     479.0
18      NaN
28      NaN
Name: Calories, Length: 32, dtype: float64

In [ ]:
y=df['Calories']

In [26]:
df.loc[1:5]

   Duration          Date  Pulse  Maxpulse  Calories
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0